.idea
.DS_Store
**/npm-debug.log
**/node_modules
test
__tests__
src
build
gulpfile.js
rollup.config.js

public
.editorconfig
.prettierrc
.prettierignore

# vscode
.vscode
.history
.github
api
docs

jest.config.js
.release-it.json
tsconfig.json
vite.config.ts
