$width-list:(
  10:10,
  20:20,
  25:25,
  30:30,
  33:33.3333,
  40:40,
  50:50,
  60:60,
  66:66.6666,
  70:70,
  75:75,
  80:80,
  90:90,
  100:100
);


.row{
  display:flex;
  flex-direction: row;
  width:100%;

  &-top{
    align-items: flex-start;
  }
  &-center{
    align-items: center;
  }
  &-bottom{
    align-items: flex-end;
  }
  &-justify-center{
    justify-content: center;
  }
  &-justify-stretch{
    justify-content: stretch;
  }
  &-justify-between{
    justify-content: space-between;
  }
  &-justify-around{
    justify-content: space-around;
  }
}




.col{
  flex:1;
  display: block;
  width: 100%;
}

.col-top {
  align-self: flex-start;
}
.col-bottom {
  align-self: flex-end;
}
.col-center {
  align-self: center;
}
.col-stretch {
  align-self: stretch;
}


/* Column Offsets */

/* Explicit Column Percent Sizes */
/* By default each grid column will evenly distribute */
/* across the grid. However, you can specify individual */
/* columns to take up a certain size of the available area */


@each $key,$value in $width-list{
  .col-offset-#{$key}{
    margin-left: #{$value+'%'};
  }

  .col-#{$key}{
    $percent: #{$value+'%'};
    flex:0 0 $percent;
    width:$percent;
  }
}


